{% extends "base.html" %}

{% block content %}
<main class="content main">
    <div id="search_box"> <!-- Søkefelt -->
        <form method="get">
            <input id="search" type="text" name="search" placeholder="Søk etter produkter...">

            <select id="sort">
                <option value="name_asc">Navn (A-Å)</option>
                <option value="name_desc">Navn (Å-A)</option>
                <option value="price_asc">Pris (lav-høy)</option>
                <option value="price_desc">Pris (høy-lav)</option>

                <p id="current_sort"></p>
            </select>
        </form>
    </div>
    <div class="content_container">
        <div class="banner">
            <img src="static/images/black_friday_horizontal_background_01.jpg" alt="Main Page Banner">
        </div>
        <div id="article-box"> <!-- Produkter som vises på forsiden -->
            {% for product in products %}
            <article>
                <a href="{{ url_for('product_page') }}?id={{ product.product_id }}">
                    <img src={{ product.image_url }}>
                    <h3>
                        {{ product.product_name }}
                    </h3>
                    <p>
                        {% for entry in product.prices_at_store %}
                        {{ entry.price }} kr hos {{ entry.store_name }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                </a>
            </article>
            {% endfor %}
        </div>
    </div>
    <div>
        <button id="loadMoreProducts">Load more</button>
    </div>
</main>
<!--render product list so the external js-file can access it -->
<script id="products-data" type="application/json">{{ products | tojson }}</script>
<!-- Loading js after the page was loaded is preferred for performance-->
<script src="{{ url_for('static', filename='js/searchbar.js') }}"></script>
<script src="{{ url_for('static', filename='js/load_more_products.js') }}"></script>
{% endblock %}