{% extends "base.html" %}
{% block content %}
<main class="content product_page">
    <img src="images/tine_meierismor.jpg">
    <h2>Meierismør 500g TINE</h2>
    <p>
        TINE Meierismør er et rent naturprodukt kjernet av fersk fløte. Smøret blir brukt av kokker og matelskere på
        grunn av sin gode smak og evne til å løfte fram andre smaker.
        <br>
        Meierismør 500g Tine er et produkt levert av TINE SA og produktet inneholder 742.00 kcal per 100g, hvorav
        82.00 g er fett, 0.50g er proteiner og 0.50 g er karbohydrater.
        <br>
        <br>
        <strong>Allergener</strong><br>
        Varen inneholder melk.
        <br>
        <br>
        <strong>Ingredienser</strong><br>
        Fløte, Salt, Syrekultur og Vitamin D
    </p>
    <p><strong>Pris: 67,90 kr</strong></p>
    <button>Legg til i handleliste</button>
</main>
{% endblock %}