{% extends "base.html" %}
{% block content %}
<main class="content product_page">
    <div class="product_grid">
        <img src="{{ product.image_url }}" alt="{{ product.product_name }}">
        <div class="product_info">
            <h2>{{ product.product_name }}</h2>
            <p class="product_description">{{ product.description }}</p>
            <h3 class="section_title">Priser i butikker:</h3>
            <ul>
                {% for price in product.prices_at_store %}
                <li>{{ price.store_name }}: {{ price.price }} kr</li>
                {% endfor %}
            </ul>
            <h3 class="section_title">Allergener:</h3>
            {% if product.allergens %}
            <ul>
                {% for allergen in product.allergens %}
                <li>{{ allergen }}</li>
                {% endfor %}
            </ul>
            {% else %}
            <p>Finner ingen registrerte allergener.</p>
            {% endif %}
            <h3 class="section_title">Prishistorikk:</h3>
            <ul>
                {% for price_history in product.price_history %}
                <li>{{ price_history.store_name }}: {{ price_history.price_history }} kr ({{ price_history.date }})</li>
                {% endfor %}
            </ul>
            <button>Legg til i ønskeliste</button>
        </div>
    </div>
</main>
{% endblock %}