{% extends "base.html" %}

{% block content %}
<main class="profile-content">
    <h2>Min profil</h2>
    <p>Her er en oversikt over dine lagrede handlelister og personopplysninger.</p>
    <p><strong>Navn:</strong> {{ first_name }} {{ last_name }}</p>
    <p><strong>E-post:</strong> {{ email }}<button type="button">Endre</button></p>
    <p><strong>Kontoen ble opprettet: </strong> {{ created_at }} <button type="button">Endre</button></p>
    <h2>Lagrede handlelister</h2>
    <ul>
        <li><a href="shoppinglist.html">Handleliste</a></li>
        <li>Handleliste helg</li>
        <li>Julemiddag</li>
</main>
{% endblock %}